body {
  background-attachment: fixed;
  background-image: linear-gradient(0deg, rgba(224, 225, 205, 1) 35%, rgba(213, 228, 211, 1) 65%, rgba(204, 230, 220, 1) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: black;
  font-family: 'Lato', sans-serif;
}

#nav {
  background-color: rgb(38, 146, 121);
}

#nav-menu {
  color: white;
  text-align: right;
}

#nav-heading:hover,
#nav-menu:hover {
  font-size: 1em;
  font-weight: 400;
}

div .navbar-nav {
  align-items: end;
  width: fit-content;
}

.index-container {
  left: 50%;
  margin: 0 auto;
  overflow-x: auto;
  overflow-y: auto;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

*/ .index-header {
  font-size: 3.5em;
  font-weight: 400;
  margin-bottom: 4%;
  text-align: center;
}

.table-container {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

table {
  table-layout: absolute;
  width: 100%;
  overflow-wrap: break-word;
}

.table-bordered {
  border: black solid 1px;
  text-align: center;
}

thead {
  background-color: rgb(193, 194, 174);
}

th {
  font-size: 1.5em;
  font-weight: 400;
}

td {
  font-size: 1.4em;
  font-weight: 300;
}

.index-edit-link,
.index-delete-link {
  background-color: rgb(38, 146, 121);
  border: black solid 1px;
  border-radius: 5%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 3% 0;
  padding: 5px 10px;
  text-decoration: none;
  width: auto;
}

.index-edit-text,
.index-delete-text {
  color: white;
  font-size: 1em;
  font-weight: 300;
}

.index-edit-text:hover,
.index-delete-text:hover,
.index-edit-text:focus,
.index-delete-text:focus {
  color: white;
  font-weight: 500;
}

.index-new-container {
  display: flex;
  justify-content: center;
  margin-top: 4%;
}

.index-new-link {
  background-color: rgb(38, 146, 121);
  border: black solid 1px;
  border-radius: 5%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 8px 15px;
  text-decoration: none;
  width: fit-content;
}

.index-new-text {
  color: white;
  font-size: 1.5em;
  font-weight: 300;
}

.index-new-text:hover,
.index-new-text:focus {
  color: white;
  font-weight: 500;
}