body {
  background-attachment: fixed;
  background-image: linear-gradient(0deg, rgba(224, 225, 205, 1) 35%, rgba(213, 228, 211, 1) 65%, rgba(204, 230, 220, 1) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: black;
  font-family: 'Lato', sans-serif;
}

#nav {
  background-color: rgb(38, 146, 121);
}

#nav-menu {
  color: white;
  text-align: right;
}

#nav-heading:hover,
#nav-menu:hover {
  font-size: 1em;
  font-weight: 400;
}

.dropdown-item:focus {
  background-color: rgb(230, 233, 236);
  color: black;
}

div .navbar-nav {
  align-items: end;
  width: fit-content;
}

#card {
  width: 85vw;
}

#card-header {
  background-color: rgb(236, 236, 236);
}

#index-new-link,
#index-edit-link,
#index-delete-link {
  background-color: rgb(38, 146, 121);
}

#home-image {
  max-height: 200px;
}