* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(213, 228, 211);
  color: black;
  font-family: 'Lato', sans-serif;
  ;
}

nav {
  align-items: center;
  background-color: rgb(38, 146, 121);
  justify-content: space-evenly;
  height: 100vh;
  width: fit-content;
}

#nav-home-link {
  border: white solid 2px;
  border-radius: 5%;
  color: white;
  font-size: 2em;
  font-weight: 400;
  margin: 0 10px;
}

.nav-link {
  color: white;
  font-size: 1.5em;
  font-weight: 300;
}

#nav-home-link:hover,
.nav-link:hover {
  color: rgb(213, 228, 211);
}